


// Font Family
$main-font: 'Muli', sans-serif;
$headding-font: 'Rubik', sans-serif;



// Colors
$cl-black: #111111;
$cl-black-2: #434a53;
$cl-white: #ffffff;
$cl-primary: #44bd32;
$cl-pach: #f12b4d;
$cl-blue: #052146;
$cl-blue-2: #26225e;
$cl-green: #86BC42;
$cl-mint: #00EFD1;
$cl-yellow: #ffb142;
$cl-gray: #F9F9F9;


// Gradient Colors
$gradient-mix-color-one: #FE1360;
$gradient-mix-color-two: #FB653C;

$gradient-mix-color-1: #FD5B82;
$gradient-mix-color-2: #FF828A;


// Social Colors
$cl-facebook : #3B5999;
$cl-twitter : #55ACEE;
$cl-instagram : #F5214A;
$cl-youtube : #CD201F;
$cl-pinterest : #BD081C;
$cl-linkedin : #0077B5;

$facebook-bg : #3B5999;
$twitter-bg : #55ACEE;
$instagram-bg : #F5214A;
$youtube-bg : #CD201F;
$pinterest-bg : #BD081C;
$linkedin-bg : #0077B5;
$google-plus-bg : #DD5144;









